<!DOCTYPE html>
<html lang="en">

<head>

    @Html.Partial("LayoutPartial/_HeaderPartial")
</head>

<body>
    @Html.Partial("LayoutPartial/_NavbarPartial")

    @RenderBody()
    <!-- ***** Preloader Start ***** -->

    @Html.Partial("LayoutPartial/_FooterPartial")


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    @Html.Partial("LayoutPartial/_ScriptPartial")

</body>

</html>
