@model KapoTechProject.Models.Project
@{
    ViewBag.Title = "ProjectsUpdated";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Project Update</h4>
            <form class="forms-sample" method="post">
                @Html.HiddenFor(model => model.ProjectID)
                <div class="form-group">
                    <label>Project Name</label>
                    <input type="text" class="form-control" placeholder="Project Name" name="ProjectName" value="@Model.ProjectName">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Project Image</label>
                    <input type="text" class="form-control" placeholder="Project Image" name="ProjectImage" value="@Model.ProjectImage">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Project URL</label>
                    <input type="text" class="form-control" placeholder="Project URL" name="ProjectURL" value="@Model.ProjectURL">
                </div>

                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="Status" value="@Model.Status">
                        Status
                        <i class="input-helper"></i>
                    </label>
                </div>
                <input type="submit" class="btn btn-primary mr-2" value="Submit" />
                <a href="/Admin/Projects/ProjectsList/" class="btn btn-light"> Cancel</a>
            </form>
        </div>
    </div>
</div>
